.logo-login {
  width:100%;

  display:flex;
  justify-content: space-between;
  align-items: center;


}
.logo-login img {
  width:100px;
  height:auto;
}
.logo-login h3 {
  font-weight:bolder;
  color:#3C95DA;
}
.card-login {
  border: 1px solid #e6eef5;
  border-radius:8px;
  webkit-box-shadow: 0px 0px 40px 0px rgba(100, 119, 135, 0.15);
  -moz-box-shadow: 0px 0px 40px 0px rgba(100, 119, 135, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(100, 119, 135, 0.15);
}
.card-login .card-body {
  padding:36px;
}
.btn-primary {
  background:#3C95DA;
}